// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login_wrapper {
    margin: 20px 540px;
    padding: 10px;
}
.wrapper {
   margin: 30px 350px;
   padding: 10px;
}

.heading_wrapper {
    margin: 20px 540px;
    padding: 10px;
}