// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reg_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(236, 230, 230);
  
}
 

    .items_header{
        margin: 10px 360px ;
        padding-bottom: 0px;


    }



    .show_header{
        margin: 30px 550px ;
        padding:10px;
    }

    .bidding_header{
        margin: 10px 360px ;
        padding-bottom: 0px;

    
    }
    

.li_name{
    color:black;
    font-size:15px;
}

